<p>
  process-order-form works!
</p>

<!--<form formGroup="rocessOrderForm">
  <div> <input type="text" placeholder="Name" formControlName="userName"> /</div>

  <input type="date" placeholder="delivery date" formControl="deliveryDate"/>
  <input type="button" name="submit" title="submit" formControl="submit"/>
</form>-->
<div>
<form [formGroup]="processOrderForm" novalidate (ngSubmit)="submit()">
  <div class="form-group">
    <label>ФИО</label>
    <input class="form-control" name="name" formControlName="userName" />

    <div class="alert alert-danger"
         *ngIf="processOrderForm.controls['userName'].invalid && processOrderForm.controls['userName'].touched">
      Не коректное имя
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" formControlName="userEmail" />

    <div class="alert alert-danger"
         *ngIf="processOrderForm.controls['userEmail'].invalid && processOrderForm.controls['userEmail'].touched">
      Некорректный email
    </div>
  </div>
  <div class="form-group">
    <label>Телефон</label>
    <input class="form-control" name="phone" formControlName="userPhone" />

    <div class="alert alert-danger"
         *ngIf="processOrderForm.controls['userPhone'].invalid && processOrderForm.controls['userPhone'].touched">
      Некорректний формат номера (необходимий формат +38(0xx)xxx-xx-xx)
    </div>
  </div>
  <div class="form-group">
    <label>Дата доставки</label>
    <input class="form-control" name="deliveryDate" formControlName="deliveryDate" />

    <div class="alert alert-danger"
         *ngIf="processOrderForm.controls['deliveryDate'].invalid && processOrderForm.controls['deliveryDate'].touched">
      Некорректная дата доставки
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" [disabled]="processOrderForm.invalid">
      Отправить
    </button>
  </div>
</form>
</div>

