<!--<span style="font-size: 25px">Bought items</span>-->
<div class="homework2">
  <p>
    cart works!
  </p>
  <app-cart-item *ngFor="let item of boughtItems"
                 [boughtBook]="item"
                 (addQauntity)="onAdd($event)"
                 (minusQauntity)="onMinus($event)"
                  (delItem)="onDelItem($event)">
  </app-cart-item>
  <div>
    <p>Total price: {{totalPrice}}</p>
    <p>Total count: {{totalCount}}</p>
    <button (click)="onCreateOrder($event)">Офомить</button>
  </div>
</div>
